<!-- <app-header></app-header> -->
<app-nav></app-nav> 

<div class="titulo">
    <h1>Bienvenido a TripGo</h1>
</div>

<div class="contenido">
    <p>Explora nuestros servicios y encuentra la mejor opción para tu viaje.</p>
    <h2>COMENCEMOS A NAVEGAR</h2>
</div>

<div class="container">
    <div class="info-container">
        <input type="text" placeholder="Cuentanos tu plan..." class="input-buscar">
    </div>
</div>

<div class="titulo2">
     <h2>Eventos</h2>
</div>

<div class="container-eventos">
    
    <div class="eventos">
       
        <div class="evento">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759164579/Img_night_otqjfr.jpg" alt="Evento 1">
            <h3>VIDA NOCTURNA</h3>
            <p>Disfruta de las mejores fiestas y eventos nocturnos.</p>
             <button class="button" id="evento1" routerLink="/nocturna">Ver más</button>
        </div>
        <div class="evento">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759164579/Img_park_koamvu.jpg" alt="Evento 2">
            <h3>ATRACCIONES</h3>
            <p>Diviértete en los mejores parques de atracciones.</p>
            <button class="button" id="evento2">Ver más</button>
        </div>
        <div class="evento">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759322094/img_2glamping_tcmynj.jpg" alt="Evento 3">
            <h3>GLAMPINGS</h3>
            <p>Vive una experiencia única en la naturaleza.</p>
             <button class="button" id="evento3">Ver más</button>
        </div>
        <div class="evento">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759317562/img_museo_nhnhps.jpg" alt="Evento 4">
            <h3>MUSEOS</h3>
            <p>Explora la historia y el arte en los museos más destacados.</p>
             <button class="button" id="evento4">Ver más</button>
        </div>
</div>



<app-footer></app-footer> 
