<section class="home">
  <app-nav></app-nav>

  <!-- HERO (fade suave) -->
  <section class="home__hero">
    <div class="carousel">
      <img
        class="carousel-img"
        [class.active]="showA"
        [src]="heroA"
        alt="Hero A"
      />

      <img
        class="carousel-img"
        [class.active]="!showA"
        [src]="heroB"
        alt="Hero B"
      />
    </div>
  </section>

  <div class="home__partnersStrip">
    <span>Compara cientos de lugares en una sola búsqueda</span>

    <div class="home__partners">
      <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716044/Logo-Parque-Del-Cafe_bh5hsr.png" alt="Logo Parque del Café">
      <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716023/Booking.com_Logo.svg_bshdta.png" alt="Logo Booking.com">
      <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716786/TripAdvisor_Logo.svg_hwg548.png" alt="Logo TripAdvisor">
      <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765717075/log_turismocity_2_qyydvt.jpg" alt="Logo Turismocity">
      <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716072/logo_mirum_afs1p5.png" alt="Logo Mirum">
    </div>
  </div>

  <div class="home__searchWrap">
    <form class="home__search" (ngSubmit)="onSearch()">
      <input
        type="text"
        name="q"
        [(ngModel)]="query"
        placeholder="¿Qué quieres hacer hoy?"
        class="home__searchInput"
      />
      <button class="home__searchBtn" type="submit">
        Buscar
      </button>
    </form>
  </div>
  @if (showPanel) {
  <div class="searchOverlay" (click)="closePanel()"></div>

  <div class="searchPanel" (click)="$event.stopPropagation()">
    <div class="searchPanel__head">
      <strong>Resultados</strong>
      <button type="button" (click)="closePanel()">✕</button>
    </div>

    @if (results.length === 0) {
      <p class="searchEmpty">No se encontraron resultados.</p>
    } @else {
      <div class="searchList">
        @for (r of results; track r.title) {
          <button type="button" class="searchItem" (click)="goResult(r)">
            <img *ngIf="r.img" [src]="r.img" alt="" />
            <div class="searchItem__text">
            <div class="searchItem__title">
              {{ r.title }}
              <span class="tag" [class.tagLugar]="r.kind==='lugar'" [class.tagCat]="r.kind==='categoria'">
                {{ r.kind }}
              </span>
            </div>
            <div class="searchItem__sub">{{ r.subtitle }}</div>
</div>

          </button>
        }
      </div>
    }
  </div>
}


  <!-- cards horizontales -->
    <!-- cards horizontales -->
  <section class="home__start">
    <h3 class="home__sectionTitle">
      Aquí empezamos Eje Cafetero <span class="home__accent"></span>
    </h3>

    <!-- Carrusel 1 -->
    <h4 class="home__subTitle">Naturaleza y Miradores</h4>
    <div class="home__startRow">
      <button class="home__chip" type="button" (click)="goToTown('salento')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765719559/Salento_Portada-_carrucel_xhjred.jpg" alt="Salento">
        <span>Salento</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('filandia')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722321/filandia_portada_-_carrucel_yvkncf.jpg" alt="Filandia">
        <span>Filandia</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('calarca')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722334/Parapente_wmwb6g.jpg" alt="Calarcá">
        <span>Calarcá</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('montenegro')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722352/Colombia_a5gesq.jpg" alt="Montenegro">
        <span>Montenegro</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('quimbaya')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722364/Quimbaya_xbe3wx.jpg" alt="Quimbaya">
        <span>Quimbaya</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('circasia')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722223/calarca_portada-_carrucel_oiqp2z.jpg" alt="Circasia">
        <span>Circasia</span>
      </button>
    </div>

    <!-- Carrusel 2 -->
    <h4 class="home__subTitle">Café, Cultura y Pueblos Patrimonio</h4>
    <div class="home__startRow">
      <button class="home__chip" type="button" (click)="goToTown('armenia')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722373/armenia_ec3zfc.jpg" alt="Armenia">
        <span>Armenia</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('buenavista')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722223/buenavista_-_carrucel_dvsnw4.jpg" alt="Buenavista">
        <span>Buenavista</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('pijao')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722387/pijao_portada_-_carrucel_upbjcz.jpg" alt="Pijao">
        <span>Pijao</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('cordoba')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722406/cordoba_lj5xsx.jpg" alt="Córdoba">
        <span>Córdoba</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('tebaida')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722418/la_tebaida_os8mgm.jpg" alt="La Tebaida">
        <span>La Tebaida</span>
      </button>

      <button class="home__chip" type="button" (click)="goToTown('genova')">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765722432/genova_portada_-_carrucel_gg0fm4.jpg" alt="Génova">
        <span>Génova</span>
      </button>
    </div>
  </section>


  <!-- Recomendaciones -->
  <section class="home__reco">
    <h3 class="home__sectionTitle">Algunas recomendaciones del Quindío</h3>

    <div class="home__recoGrid">
      <article class="home__card">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765723800/cocora_3_hpqpvc.jpg" alt="Recomendación">
        <div class="home__cardBody">
          <h4>Valle del Cocora (Salento)</h4>
          <p>No te pierdas esta gran experiencia natural.</p>
        </div>
      </article>


      <article class="home__card">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765724011/parque_del_cafe_portada_-_sugerencias_wkryck.jpg" alt="Recomendación">
        <div class="home__cardBody">
          <h4>Parque Nacional del Café (Montenegro)</h4>
          <p>Mas aventuras, mas sonrisas</p>
        </div>
      </article>

      <article class="home__card">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765725012/Encanto_-_Filandia_Quindio_Colombia_d93yqk.jpg" alt="Recomendación">
        <div class="home__cardBody">
          <h4>Mirador Encanto (Filandia)</h4>
          <p>Una pisca de magia, ven por tu brillo</p>
        </div>
      </article>
     

      <article class="home__card">
        <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765725175/avistamento_aves_portada_-_suge_kpizdw.jpg" alt="Recomendación">
        <div class="home__cardBody">
          <h4>Avistamiento de aves (Salento)</h4>
          <p>Belleza en el movimiento silencioso</p>
        </div>
      </article>
    </div>
  </section>

  <!-- Nuestros aliados -->
  <section class="home__allies" id="planes">
    <h3 class="home__sectionTitle">Nuestros aliados</h3>

    <div class="home__alliesGrid">
      <div class="home__ally"><img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716044/Logo-Parque-Del-Cafe_bh5hsr.png" alt="Ally"></div>
      <div class="home__ally"><img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716023/Booking.com_Logo.svg_bshdta.png" alt="Ally"></div>
      <div class="home__ally"><img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716786/TripAdvisor_Logo.svg_hwg548.png" alt="Ally"></div>
      <div class="home__ally"><img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765717075/log_turismocity_2_qyydvt.jpg" alt="Ally"></div>
      <div class="home__ally"><img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1765716072/logo_mirum_afs1p5.png" alt="Ally"></div>
    </div>
  </section>

</section>

<app-footer></app-footer>
