<app-nav></app-nav> 


<h1 class="titulo-nocturna">Discotecas</h1>
<div class="img-portada">
    <p>Explora las mejores <br> discotecas de la ciudad y disfruta de una noche inolvidable.</p>
</div>

<div class="discotecas">
    <div class="discos">
        <div class="lista-discos">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759325528/img_discoteca1_b3djvu.jpg" alt="">
            <h3>Fonda La Floresta</h3>
            <p>Dirección: Cra 13 #85-80, Armenia</p>
            <p>Teléfono: 3183459835</p>
            <p>Horario: Vie-Sáb 10:00 PM - 4:00 AM</p>

        </div>
        <div class="lista-discos">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759325835/img_discoteca2_uhasle.jpg" alt="">
            <h3>La Disco AXM</h3>
            <p>Dirección: Cra 13 #85-80, Armenia</p>
             <p>Teléfono: 3183459835</p>
            <p>Horario: Vie-Sáb 10:00 PM - 4:00 AM</p>
        </div>
        <div class="lista-discos">
            <img src="https://res.cloudinary.com/dshqbl8d1/image/upload/v1759325836/img_discoteca3_s5skcp.jpg" alt="">
            <h3>Fonda La Malageña</h3>
            <p>Dirección: Cra 13 #85-80, Armenia</p>
             <p>Teléfono: 3183459835</p>
            <p>Horario: Vie-Sáb 10:00 PM - 4:00 AM</p>
        </div>
        
    </div>
</div>


<app-footer></app-footer> 