<app-nav></app-nav>

@if (successMessage) {
  <div class="toast toast-success" role="status" aria-live="polite">
    {{ successMessage }}
  </div>
}

@if (errorMessage) {
  <div class="toast toast-error" role="alert" aria-live="assertive">
    {{ errorMessage }}
  </div>
}


<div class="ppal" role="main" aria-label="Login">

  <section class="left">
    <div class="left-content">
      <h1>Bienvenido<br>Inicia sesion</h1>
    
    <div class="logo-circle">
    <img src="https://res.cloudinary.com/dtyvd3fim/image/upload/v1764678577/ChatGPT_Image_12_nov_2025_17_33_14_1_hj26hs.png" alt="">
    </div>
    </div>
  </section>

  <aside class="right">
    <div class="carta">
      <h2>Inicio sesion</h2>

      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
        <div class="field">
          <label for="email">Correo electronico</label>
          <input id="email" [(ngModel)]="email" name="email" type="email" required>
        </div>

        <div class="field">
          <label for="password">Contraseña</label>
          <input id="password" [(ngModel)]="password" name="password" type="password" required>
        </div>

       <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
          Iniciar sesion
        </button>
        <p class="account">
          No tienes una cuenta con nosotros?
          <a routerLink="/register">Registrarse</a>
        </p>
      </form>
    </div>
  </aside>
</div>

<app-footer></app-footer>