.navPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-m);
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;    /* NECESARIO */
    z-index: 10;           /* Para que quede por encima */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Sombra ligera */

    img{
        width: 70px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    a{
        color: var(--bg-color);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        transition: color 0.3s ease;

        &:hover,
        &:focus{
            color: var(--text-color);
        }
    }
}
.contLogo{
    display: flex;
    h2{
        font-size: 1.3em;

    }
}

.nav-bar {
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: var(--padding-m);
    background-color: var(--secondary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: var(--font-primary);
    font-weight: 550;
    a {
        color: var(--bg-color);
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 6px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size:  14px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
}

.nav-bar a:hover,
.nav-bar a:focus {
    background-color: white;
    color: var(--secondary-color);
}

.nav-bar a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}