.nav-bar {
    padding: var(--padding-m);
    display: flex;
    justify-content: center;
    gap: var(--padding-m);
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: var(--font-primary);
    font-weight: 600;
    border-radius: 0px 0px var(--radius-lg) var(--radius-lg);
    a {
        color: var(--bg-color);
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 6px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
}

.nav-bar a:hover,
.nav-bar a:focus {
    background-color: #fff;
    color: var(--text-color);
}

.nav-bar a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}