@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "leaflet/dist/leaflet.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
}


:root{
    /*Colores primarios*/
    --primary-color: #0E6973;
    --secondary-color: #E27921;

    /*Colores neutros*/
    --bg-color: #F8F9FA;
    --text-color: #2B2D42;
    --light-text-color: #fff;

    /*Tipografías*/
    --font-primary: "Poppins", sans-serif;

    /*Bordes y espaciados*/
    --radius-sm: 5px;
    --radius-m: 10px;
    --radius-lg: 30px;

    --padding-sm: 8px;
    --padding-m: 14px;
    --padding-lg: 30px;

    /*Tamaños texto*/
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-m: 1.25rem;
    --font-size-lg: 2rem;
}

body{
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    font-size: var(--font-size-base);
    line-height: 1.6;
}

h1, h2{
    font-family: var(--bg-color);
    color: var(--bg-color);
    margin-bottom: var(--padding-m);
}

p{
    color: var(--text-color);
}