@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Colores principales*/
    --primary-color: #0F3B3E;
    --secondary-color: #052b2f;

    /*Colores neutros*/
    --bg-color: #F8F9FA;
    --text-color: #2B2D42;
    --light-text-color: #fff

    /*Tipografías*/
    --font-primary: 'Open Sans', sans-serif;

    /*Bordes y espaciados*/
    --radius-sm: 5px;
    --radius-m: 10px;
    --radius-lg: 30px;

    --padding-sm: 8px;
    --padding-m: 16px;
    --padding-lg: 30px;

    /*Tamaños texto*/
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-m: 1.25rem;
    --font-size-lg: 2rem;
}

body{
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    font-size: var(--font-size-base);
    line-height: 1.6;
}

h1, h2{
    font-family: var(--font-primary);
    color: var(--primary-color);
    margin-bottom: var(--padding-m);
}

p{
    color: var(--text-color);
}