.footer{
    padding: 35px;
    background-color: #E27921;
    p{
        color: var(--light-text-color);
        text-align: center;
    };
}

.footer span{
    color: orange;
}
/* Ocultar en tablet y móvil */
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}